{% extends "base.html.twig" %}


{% block title %}{{ parent() }} {% endblock title %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/weather.css') }}">
{% endblock stylesheets %}

{% block body %}

    <div class="container-fluid custom">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Choose your city from here</h2>
                        <select id="city" class="mdb-select md-form" searchable="Search here..">
                            <option value="" disabled selected>Choose your country</option>
                            {% for city in cities %}
                                <option value="{{ loop.index0 }}" {{ city == 'casablanca' ? "selected" : "" }}>{{ city }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <!-- Table with panel -->
                <div class="card card-cascade narrower">

                    <!--Card image-->
                    <div
                            class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">

                        <div class="px-4">
                        </div>

                        <h1><a href="" class="white-text mx-3"><b>Weather TEST AT TEAL</b></a></h1>

                        <div class="px-4">
                        </div>

                    </div>
                    <!--/Card image-->

                    <div class="px-4">

                        <div class="table-wrapper">
                            <!--Table-->
                            <table class="table table-hover mb-0">

                                <!--Table head-->
                                <thead>
                                <tr>
                                    <th class="th-lg">
                                        <a><b>Day</b></a>
                                    </th>
                                    <th class="th-lg">
                                        <a><b>Date</b></a>
                                    </th>
                                    <th class="th-lg">
                                        <a><b>Low</b></a>
                                    </th>
                                    <th class="th-lg">
                                        <a><b>High</b></a>
                                    </th>
                                    <th class="th-lg">
                                        <a><b>Text</b></a>
                                    </th>
                                    <th class="th-lg">
                                        <a><b>Code</b></a>
                                    </th>
                                </tr>
                                </thead>
                                <!--Table head-->

                                <!--Table body-->
                                <tbody id="forecastList">
                                {% if forecast is defined %}
                                    <tr>
                                        <td>{{ forecast.data.forecast.day }}</td>
                                        <td>{{ forecast.data.forecast.date }}</td>
                                        <td>{{ forecast.data.forecast.low }}</td>
                                        <td>{{ forecast.data.forecast.high }}</td>
                                        <td>{{ forecast.data.forecast.text }}</td>
                                        <td>{{ forecast.data.forecast.code }}</td>
                                    </tr>
                                {% elseif forecasts is defined %}
                                    {% for forecast in forecasts %}
                                        <tr>
                                            <td>{{ forecast.day }}</td>
                                            <td>{{ forecast.date }}</td>
                                            <td>{{ forecast.low }}</td>
                                            <td>{{ forecast.high }}</td>
                                            <td>{{ forecast.text }}</td>
                                            <td>{{ forecast.code }}</td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                                <!--Table body-->
                            </table>
                            <!--Table-->
                        </div>

                    </div>

                </div>
                <!-- Table with panel -->
            </div>
        </div>
    </div>


    {% block javascripts %}
        {{ parent() }}

        <script type="text/javascript">
            $(document).ready(function(){
                $('#city').change(function(){
                    var cityIndex = $('option:selected', this).attr('value');
                    console.log(cityIndex);


                    $.ajax({
                        url: "/weather/" + cityIndex,
                        dataType: 'json',
                        method: "POST",
                        success: function(data){
                            data = $.parseJSON(data);
                            var output = '';

                            output += '<tr>';
                            output += '<td>'+ data.forecasts[1].day +'</td>';
                            output += '<td>'+ data.forecasts[1].date +'</td>';
                            output += '<td>'+ data.forecasts[1].low +'</td>';
                            output += '<td>'+ data.forecasts[1].high +'</td>';
                            output += '<td>'+ data.forecasts[1].text +'</td>';
                            output += '<td>'+ data.forecasts[1].code +'</td>';
                            output += '</tr>';


                            // $.each(data.forecasts, function(key, val){
                            //     output += '<tr>';
                            //     output += '<td>'+ val.day +'</td>';
                            //     output += '<td>'+ val.date +'</td>';
                            //     output += '<td>'+ val.low +'</td>';
                            //     output += '<td>'+ val.high +'</td>';
                            //     output += '<td>'+ val.text +'</td>';
                            //     output += '<td>'+ val.code +'</td>';
                            //     output += '</tr>';
                            // });

                            $('#forecastList').html(output);
                        }
                    });//ajax for grabing back all the forecast
                });
            });//ready
        </script>
    {% endblock javascripts %}


{% endblock body %}